<!doctype html>
<html>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<head>
<title>{content:title}-{pboot:sitetitle}</title>
<meta name="keywords" content="{content:keywords}">
<meta name="description" content="{content:description}">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/amazeui.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/style.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/css.css">
<script src="{pboot:sitedomain}/style/js/jquery.min.js"></script>
<script src="{pboot:sitedomain}/style/js/amazeui.min.js"></script>
<script src="{pboot:sitedomain}/style/js/jquery.superslide.js"></script>
<script src="{pboot:sitedomain}/style/js/sidebar_contact.js"></script>
<style type="text/css">
.iconfont {
	font-size: 30px !important;
}
.icon_contact .iconfont {
	font-size: 20px !important;
}
.am-navbar-default .am-navbar-nav .iconfont {
	font-size: 20px !important;
}
.am-navbar-nav a {
	line-height: 27px;
}
</style>
<link rel="stylesheet" href="//at.alicdn.com/t/font_1976070_oklai9ulpl8.css">
</head>
  <body>
{include file=head.html}
  {include file=top.html}
<div class="page_main">
    <div class="article_article">
    <div class="article_body">
        <div class="pdbaseinfo am-g">
        <div class="pimg am-u-md-5 am-u-sm-12">
            <div class="am-slider am-slider-default">
            <ul class="am-slides">
                {pboot:if('{content:ispics}'==0)}
                <li><img alt="" src="{content:ico}"></li>
                {else}
                {pboot:pics num=10 id={content:id}}
                <li><img alt="" src="[pics:src]"></li>
                {/pboot:pics}
                {/pboot:if}
              </ul>
          </div>
          </div>
        <div class="am-u-md-7 am-u-sm-12">
            <h2 class="am-margin-bottom-xs">{content:title}</h2>
<!--            <p> Classification：{pboot:sort scode={sort:scode}} <a href="[sort:link]">[sort:name]</a> {/pboot:sort} </p>-->
<!--            <p>Product introduction：{content:description}</p>-->
            <p><b style="font-size: 20px">◆</b><b> Model No.：</b>{content:model}</p>
            <p><b style="font-size: 20px">◆</b><b> Size：</b>{content:size}</p>
            <p><b style="font-size: 20px">◆</b><b> Resolution：</b>{content:resolution_ratio}</p>
            <p><b style="font-size: 20px">◆</b><b> View Direction：</b>{content:view_angle}</p>
            <p><b style="font-size: 20px">◆</b><b> Interface：</b>{content:interface}</p>
            <p><b style="font-size: 20px">◆</b><b> Driver IC：</b>{content:ic}</p>
            <p><b style="font-size: 20px">◆</b><b> Brightness(cd/m²)：</b>{content:size}</p>
            <p><b style="font-size: 20px">◆</b><b> Touch Screen：</b>{content:touch_screen}</p>
            <p><b style="font-size: 20px">◆</b><b> Control-Board：</b>{content:control_panel}</p>
            <div style="margin-top: 30px">
                <span>Prev：{content:precontent notext='no more'}</span>
                <span style="margin-left: 70px">Next：{content:nextcontent notext='no more'}</span>
            </div>
          </div>
      </div>
        <h4>Product details</h4>
        <div class="pro_intro" id="maximg"> {content:content} </div>
      </div>
    <div class="pre_next">
        <div id="prev">Prev：{content:precontent notext='no more'}</div>
        <div id="next">Next：{content:nextcontent notext='no more'}</div>
      </div>
    <script type="text/javascript">
		$(window).ready(function(){
			var img_src = [];
			var arr = $("pro_intro").children().children('img')
			console.log(arr)
			for(var i =0;i<arr.length;i++){
				arr[i] = arr[i].src.slice(21)
				arr[i] = '.' + arr[i]	
				$(".pro_intro").children().children('img')[i].src = arr[i]
			}
		})
	</script> 
  </div>
  </div>
</div>
</div>
{include file=foot.html} 
<script>
  $(function($) {
  $('.am-slider').flexslider();
});
  </script>