<!doctype html>
<html>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<head>
<title>{sort:title}</title>
<meta name="keywords" content="{sort:keywords}">
<meta name="description" content="{sort:description}">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/amazeui.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/style.css">
<link rel="stylesheet" href="{pboot:sitedomain}/style/css/css.css">
  <link rel="shortcut icon" href="{SITE_DIR}/logo.jpeg" type="image/x-icon">
<script src="{pboot:sitedomain}/style/js/jquery.min.js"></script>
<script src="{pboot:sitedomain}/style/js/amazeui.min.js"></script>
<script src="{pboot:sitedomain}/style/js/jquery.superslide.js"></script>
<script src="{pboot:sitedomain}/style/js/sidebar_contact.js"></script>
<style type="text/css">
.iconfont {
	font-size: 30px !important;
}
.icon_contact .iconfont {
	font-size: 20px !important;
}
.am-navbar-default .am-navbar-nav .iconfont {
	font-size: 20px !important;
}
.am-navbar-nav a {
	line-height: 27px;
}
</style>
<link rel="stylesheet" href="//at.alicdn.com/t/font_1976070_oklai9ulpl8.css">
</head>
<body>
{include file=head.html}
{include file=top.html}
<style type="text/css">
	.yanzheng img{
		width: auto;
	}
</style>
<div class="page_main">
  <div class="list_single">
    <div class="contact2_right">
      <p><strong>我们会尽快给您回复。感谢您给的邮件。保护每位浏览者的隐私，请放心填写。</strong></p>
      <p><strong>注：若需立即回复，请拔打全国统一热线：{pboot:companymobile}</strong></p>
      <form method="post" action="{pboot:msgaction}">
        <div class="contact2_li">
          <input type="text" name="contacts" placeholder="联系人*" required />
        </div>
        <div class="contact2_li">
          <input type="text" name="email" placeholder="邮箱*" required>
        </div>
        <div class="contact2_li">
          <input type="text" name="mobile" placeholder="手机" required>
        </div>
        <div class="contact2_li">
          <textarea type="text" name="content" placeholder="留言内容"></textarea>
        </div>
        <div class="faqline">
          <input name="checkcode" type="text" class="login_verification" id="code" size="6" maxlength="6" style="width: 37%;" placeholder="验证码" onblur="this.placeholder='验证码'" />
          <font color="#FF0000">*</font> <span class="yanzheng"> <img src="{pboot:checkcode}" onClick="this.src='{pboot:checkcode}?'+Math.round(Math.random()*10);"></span> </div>
        <input class="tijiao" type="submit" onclick="save()" value="提交">
      </form>
    </div>
  </div>
</div>
</div>
</div>
{include file=foot.html} 
